* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.alert-message {
    position: fixed;
    top: 36px;
    left: 56%;
    transform: translateX(-50%);
    background-color: #b5e7c136;
    color: #155724;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    margin-top: 20px;
    z-index: 100;
    display: none;
    font-size: 12px;
}
.nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: 160px;
}
.nav-btn {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #527ed7;
    border: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nav-btn.active {
    color: #962702;
}
.nav-btn:hover:not(.active) {
    color: #962702;
}
.title {
    font-size: 36px;
    color: #6f0808;
    font-weight: 700;
    margin-left: 60px;
} 
.title img{
    vertical-align: middle;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.page-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    min-width: 1200px;
}
.page {
    display: none;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.page.active {
    display: block;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap:50px;
}
h2{
    margin-bottom: 25px;
    color: #158470;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #6e6e6e;
    font-size: 13px;
    font-weight: 500;
}
input[type="file"] {
    padding: 10px 10px;
    margin-top: -10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #900505;
    width: 20%;
    cursor: pointer;
}
select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.btn-group {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 20px;
    width: 50%;
    margin-left: 220px;
}
.btn {
    width: 150px;
    padding: 12px;
    background-color: #409eff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:disabled {
    background-color: #787a7b;
    cursor: not-allowed;
}
.btn:hover:not(:disabled) {
    background-color: #05ab8c;
}
.tip {
    color: #a9a8a8;
    font-size: 11px;
    margin-top: 8px;
}
.result-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.export-btn {
    padding: 8px 30px;
    background-color: #409eff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.export-btn:hover {
    background-color: #05ab8c;
}
.table-wrapper {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    min-height: 269px;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 13px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
}
th {
    background-color: #fafafa;
    color: #000000;
    font-weight: 500;
}
tr:nth-child(even) {
    background-color: #f8f9fa;
}
.empty-tip {
    text-align: center;
    padding: 50px;
    color: #999;
    font-size: 16px;
}
.footer {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #666;
    font-size: 13px;
    box-shadow: -2px -2px 10px rgba(0,0,0,0.5);
}